.DS_Store
node_modules
dist
cache
artifacts
abi
typechain
typechain-types

coverage
coverage.json

# local env files
.env
.env.local
.env.*.local

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.mov
